footer .section__wrapper {
    position: relative;
    z-index: 2;
}

footer .nav {
    gap: 20px;
}

footer .nav__item {
    transition: var(--transition);
}

footer .nav__item:hover {
    color: var(--color-primary);
}

footer .social__handles__container {
    justify-content: center;
    margin-top: 20px;
}

footer .base__logo .full__name {
    font-size: 7rem;
    font-weight: 900;
    /* background: conic-gradient(#2f2585,#d8cce6,#f028fd,#2bdeac);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
    text-align: center;
    opacity: 0.4;
}

footer .copyright h3 {
    margin: 3rem 0;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
}

/* Responsiveness */

@media (max-width: 1200px) {
    footer .base__logo .full__name {
        font-size: 6rem;
    }
}

@media (max-width: 800px) {
    footer .base__logo .full__name {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    footer .nav {
        flex-direction: column;
    }
}
