#experience {
    position: relative;
    margin: 60px 0;
}

#experience .section__wrapper {
    border-radius: 20px;
    position: relative;
}

#experience .hole {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#experience h2 {
    margin-top: 30px;
    text-align: center;
}

#experience .experience__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#experience .experience__group .experience__container {
    padding: 10px;
    max-width: 360px;
}

#experience .experience__details h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#experience .experience__details p {
    color: var(--color-muted)
}

#experience .highlight__container {
    margin-top: 20px;
    list-style-type: square;
}

#experience .highlight__container .highlight {
    margin-top: 10px;
    font-size: .95rem;
    line-height: 1.5rem;
}

#experience hr {
    margin: 0 auto;
    margin-top: 25px;
    height: 0.5px;
    background-color: var(--color-muted);
    width: 70%;
    opacity: .5;
}

/* Responsiveness */



@media (max-width: 1100px) {

    #experience .experience__group {

        justify-content: center;
    }

    

    #experience .experience__group .experience__container {
        text-align: center;
    }

}